<div class="toolbar" role="banner">
  <div>
    <img class="docnetwork-logo" alt="docnetwork Logo"
      src="https://www.docnetwork.org/wp-content/uploads/DocNetwork-Charge-Color.png" />
  </div>
  <div class="app-title">
    <span>Welcome to Sean Baluha's DocNetwork Code Challenge</span>
  </div>
</div>

<div class="content" role="main">
  <app-home></app-home>
</div>