.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;
    border-bottom: 10px solid #6e9a1f;
    margin-bottom: 2em;

    .docnetwork-logo {
        height: 45px;
        margin: 0 16px;
    }

    .app-title span {
        color: black;
        font-size: 20px;
        font-family: 'DIN Bold',Calibri,Arial,sans-serif;
        font-style: normal;
        font-weight: 1000;
        line-height: 1;
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 380px) {
        display: block;
        height: unset;
        margin-bottom: 1em;

        .app-title {
            padding: 0px 5px;
            span {
                font-size: 15px;
            }
        }

        .docnetwork-logo {
            height: 45px;
            margin: 5px 0px 0px 10px;
        }
    }
}

