<div *ngIf="searchForm">
    <form class="basic-form" [formGroup]="searchForm" (ngSubmit)="runSearch()">
        <mat-form-field>
            <input matInput placeholder="Title" type="text" formControlName="intitle">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Author" type="text" formControlName="inauthor">
            <mat-error *ngIf="true"></mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Publisher" type="text" formControlName="inpublisher">
            <mat-error *ngIf="true"></mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Genre" type="text" formControlName="subject">
            <mat-error *ngIf="true"></mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="ISBN" type="text" formControlName="isbn">
            <mat-error *ngIf="true"></mat-error>
        </mat-form-field>

        <button [disabled]="searchForm.invalid" class="search-button" mat-raised-button color="primary" type="submit">
            Search
        </button>
    </form>
</div>

<div>
    <!-- <p *ngIf="bookSearchData.length > 0">Showing Top 10 Book Results</p> -->
    <mat-accordion>
        <mat-expansion-panel class="expansion-panel" *ngFor="let book of bookSearchData">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{book.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <img *ngIf="book.thumbnailURL" class="book-thumbnail" src="{{book.thumbnailURL}}">
                <li *ngIf="book.subtitle">
                    <p>Subtitle: {{book.subtitle}}</p>
                </li>
                <li>
                    <p>Author[s]: {{book.authors}}</p>
                </li>
                <li *ngIf="book.description">
                    <p>Description: {{book.description}}</p>
                </li>
                <li *ngIf="book.publisher">
                    <p>Publisher: {{book.publisher}}</p>
                </li>
                <li *ngIf="book.publishedDate">
                    <p>Published Date: {{book.publishedDate}}</p>
                </li>
                <li>
                    <p>Genre: {{book.genre}}</p>
                </li>
                <li *ngFor="let ident of book.industryIdentifiers">
                    <p>{{ident.type}}: {{ident.identifier}}</p>
                </li>
                <li *ngIf="book.bookLink !== null">
                    <a href="{{book.bookLink}}" target="blank">More Info</a>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>