.basic-form {
    padding-left: 25px;
    margin-bottom: 1em;

    mat-form-field {
        width: 100%;
        margin: 5px;
        max-width: 400px;
        display: block;
    }

    .search-button {
        margin-left: 5px;
        padding: 10px 20px;
    }
}

.book-thumbnail {
    max-height: 200px;
}

.expansion-panel {
    margin: 2px 10px;
    border: 1px solid black;
}

@media screen and (max-width: 380px) {
    .basic-form {
        padding: 0px 10px;
    }

    mat-form-field {
        max-width: 330px;
    }
}